asn1crypto==0.22.0
attrs==17.4.0
certifi==2022.12.7
chardet==3.0.4
coverage==4.4.2
cryptography==1.9
freezegun==0.3.9
idna==2.5
keyring==10.4.0
keyrings.alt==2.2
pluggy==0.6.0
py==1.5.2
pycrypto==2.6.1
pygobject==3.24.1
pytest==3.3.1
pytest-cov==2.5.1
python-apt==1.4.0b3
python-dateutil==2.6.1
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
six==1.10.0
unattended-upgrades==0.1
urllib3==1.22
